#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  color: #da1875;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

form {
  max-width: 15rem;
  border-radius: 8px;
  border: 2px solid #da1875;
  padding: 1rem;
}

.field {
  display: flex;
  flex-direction: column;  
  position: relative;
  margin-bottom: 1.5rem;
}

.field input {
  background-color: white;
  /* color: #363831; */
  padding: 0.5rem;
  outline: none;
  background-color: transparent;
  height: 1.5rem;
  border: 0;
  border-bottom: 1px solid #da1875;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0 0.5rem;  
}
.field input:focus {
  box-shadow: none;
  border-color: #af2875;
}
.field input:placeholder {
  color: #af2875;
}

.field .error {
  font-size: 12px;
  color: #de2710;
  position: absolute;
  bottom: -1.2rem;
}

.result {
  font-size: 1.5rem;
  width: 50%;
  
}

button {
  background-color: #75ad64
}